@import '~antd/dist/antd.less';
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@first-color: #8675a9;
@second-color: #c3aed6;
@third-color: #efbbcf;
@fourth-color: #ffd5cd;

.App {
  // text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  // scroll-snap-points-y: repeat(100vh);
  // scroll-snap-type: y mandatory;
  font-family: 'Kanit', sans-serif;
}

.section {
  // min-height: 100vh;
  padding: 2rem;
  // width: 100vw;
  // scroll-snap-align: start;
  // padding: 0.8rem 1rem;
}

.App-Banner {
  &:extend(.section);
  min-height: 100vh;
  background-image: linear-gradient(@first-color, @second-color);
  display: flex;
}

.banner-title {
  font-size: 4rem;
  white-space: nowrap;
  text-shadow: 4px 4px @second-color;
  margin: 0 !important;
  text-transform: uppercase;
  color: @fourth-color !important;
}

.banner-subtitle {
  white-space: nowrap;
}

.banner-img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}
.banner-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.banner-logo {
  display: flex;
  justify-content: center;
  align-content: center;
}

.App-Content {
  &:extend(.section);
  min-height: 100vh;
  text-align: center;
  background-image: linear-gradient(@third-color, @fourth-color);
}

.App-Video-content {
  &:extend(.section);
  min-height: 100vh;
  text-align: center;
  background-image: linear-gradient(@second-color, @third-color);
}

.App-Vote-content{

  &:extend(.section);
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-image: linear-gradient(@second-color, @second-color);
  flex-direction: column;
  display: flex;
  justify-content: center;

}

.vote-answer-box{
  display: flex;
  justify-content: space-between;
  padding: 3rem 20%;

}

.answer-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border: solid rgb(110, 110, 110) 2px;
  border-radius: 50%;
  &:hover{
    background-color: rgba(255, 255, 255, 0.562);
    cursor: pointer;
  }
}

.App-Content .comment-card {
  text-align: left;
  // min-height: 240px;
}

.App-About {
  &:extend(.section);
  min-height: 100vh;
  background-image: linear-gradient(@fourth-color, @third-color);
}

.comment-zone {
  // background-color: red;
  display: flex;
  justify-content: flex-end;
}

.comment-box {
  width: 30rem;
  text-align: left;
}

.answer-board {
  min-height: 60vh;
}

.video-box {
  max-width: 1280px;
  max-height: 720px;

  background-color: @fourth-color;
  border: 0.5rem solid @fourth-color;
  // border-radius: 0.5rem;
  margin: 32px auto;
  // display: flex;
  // flex-direction: column;
  // text-align: center;
  // justify-content: center;
}

.video-sub-box {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
}

.video-player {
  position: absolute;
  max-width: 1264px;
  max-height: 704px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.delete-modal {
  font-family: 'Kanit', sans-serif;
}

.delete-modal-action {
  display: flex;
  justify-content: flex-end;
}

.profile-card {
  font-family: 'Kanit', sans-serif;
  min-height: 24rem;
}
.profile-image {
  height: 100%;
  object-fit: contain;
}

.App-Footer {
  &:extend(.section);
  min-height: 6rem;
  background-color: @first-color;
  // color: white;
  text-align: center;
}
