@import '~antd/dist/antd.less';
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@first-color: #8675a9;
@second-color: #c3aed6;
@third-color: #efbbcf;
@fourth-color: #ffd5cd;

.App {
  // text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  font-family: 'Kanit', sans-serif;
}

.section {
  min-height: 100vh;
  padding: 2rem;
  // width: 100vw;
  scroll-snap-align: start;
  // padding: 0.8rem 1rem;
}

.App-Banner {
  &:extend(.section);
  background-image: linear-gradient(@first-color, @second-color);
  display: flex;
}

.banner-title {
  margin: 0 !important;
  text-transform: uppercase;
  color: #ffd5cd !important;
}

.banner-img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}
.banner-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.banner-logo {
  display: flex;
  justify-content: center;
  align-content: center;
}

.App-Content {
  &:extend(.section);
  text-align: center;
  background-image: linear-gradient(@third-color, @fourth-color);
}

.App-Video-content {
  &:extend(.section);
  text-align: center;
  background-image: linear-gradient(@second-color, @third-color);
}

.App-Content .comment-card {
  text-align: left;
  // height: 300px;
}

.App-About {
  &:extend(.section);
  background-image: linear-gradient(@fourth-color, @first-color);
}

.comment-zone {
  // background-color: red;
  display: flex;
  justify-content: flex-end;
}

.comment-box {
  width: 30rem;
  text-align: left;
}

.asnwer-board {
  height: 80%;
}
